<!-- <ng-content></ng-content> -->

<app-container></app-container>

<div class="container-fluid">
    <div class="row">

        <div class="col">
            <div class="container-fluid mt-3">
                <h3 class="display-3">
                    User's list
                </h3>

                <div class="container mt-3">
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="inputPassword6" class="col-form-label">Search User</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" class="form-control" name="first_name" [(ngModel)]="first_name" (ngModelChange)="Search()" placeholder="Search here">
                        </div>
                        <div class="col-auto">
                            <span id="passwordHelpInline" class="form-text">
                                Must be 8-20 characters long.
                            </span>
                        </div>
                    </div>
                    <br>

                    <!-- <button (click)="showToasterSuccess()" class="btn btn-success">
                        Success Toaster
                    </button>&nbsp; -->
                </div>

                <div class="container mt-3 border">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th (click)="sort('id')" scope="col">id<i class="fa fa-sort" aria-hidden="true"></i></th>
                                <th (click)="sort('first_name')" scope="col">First Name<i class="fa fa-sort" aria-hidden="true"></i></th>
                                <th (click)="sort('last_name')" scope="col">Last Name<i class="fa fa-sort" aria-hidden="true"></i></th>
                                <th (click)="sort('email')" scope="col">Email<i class="fa fa-sort" aria-hidden="true"></i></th>
                                <th scope="col">Avatar</th>
                                <th scope="col">Update user</th>
                                <th scope="col">Delete user</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let user of users | orderBy: key: reverse | paginate : {itemsPerPage:5, currentPage:p};">
                                <td>{{user.id}}</td>
                                <td>{{user.first_name}}</td>
                                <td>{{user.last_name}}</td>
                                <td>{{user.email}}</td>
                                <td><img [src]="user.avatar" class="img-fluid" style="max-height: 50px;"></td>
                                <!-- <td><span class="btn btn-primary btn-xs" > <a routerLink='edit'>Edit</a>(click)="editUser(user.first_name, user.last_name, user.email, user.avatar, user.id)">Update</span></td> -->

                                <td><a routerLink='/edit/{{user.id}}' ><span class="btn btn-warning btn-xs"
                                    >Update</span></a></td>
                                <td><span class="btn btn-danger btn-xs" (click)="deleteUser(user.id,user.first_name,user.last_name)">Delete</span></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <!-- Table footer -->
                        </tfoot>
                    </table>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>