<app-container></app-container>
<div class="container mt-4">
    <div class="container">
        <div class="row justify-content-center">
    <div class="card">
        <div class="card-header">
            <h2 class="display-5">Add User</h2>
        </div>
        <div class="card-body">
            <div class="justify-content-center">
                <form #userForm="ngForm" (ngSubmit)="addUser(userForm.value)">
                    <div class="form-group row">
                        <label for="email" class="col-md-4 col-form-label text-md-right">User ID</label>
                        <div class="col-auto">
                            <input #userID type="text" class="form-control" name="userID" id="userID" placeholder="">
                        </div>
                    </div> <br>

                    <div class="form-group row">
                        <label for="password" class="col-md-4 col-form-label text-md-right">First Name</label>
                        <div class="col-auto">
                            <input type="text" class="form-control" name="fname" ngModel id="fname" placeholder="">
                        </div>
                    </div> <br>
                    <div class="form-group row">
                        <label for="password" class="col-md-4 col-form-label text-md-right">Last Name</label>
                        <div class="col-auto">
                            <input type="text" class="form-control" name="lname" ngModel id="lname" placeholder="">
                        </div>
                    </div> <br>
                    <div class="form-group row">
                        <label for="password" class="col-md-4 col-form-label text-md-right">E-mail</label>
                        <div class="col-auto">
                            <input type="email" class="form-control" name="email" ngModel id="email" placeholder=""
                                required>
                        </div>
                    </div> <br>
                    <div class="form-group row">
                        <label for="password" class="col-md-4 col-form-label text-md-right">Avatar</label>
                        <div class="col-auto">
                            <input type="file" placeholder="">
                        </div>
                    </div> <br>

                    <div class="form-group row">
                        <div class="col-md-6 offset-md-4">
                            <div class="checkbox">
                                <label>
                                    <button type="submit" id="adds" class="btn btn-info"
                                        [disabled]="!userForm.valid">ADD
                                        User</button>
                                </label>
                            </div>
                        </div>
                    </div> <br>
                </form>
            </div>
        </div>
    </div>

    <app-footer></app-footer>