<app-container></app-container>
<div class="container mt-4">
    <p class="display-2">Add a new User</p>
    <form #userForm="ngForm" (ngSubmit)="addUser(userForm.value)">

        <input #userID type="text" class="form-control" name="userID" id="userID" placeholder="User ID">
        <input type="text" class="form-control" name="fname" ngModel id="fname" placeholder="first Name">
        <input type="text" class="form-control" name="lname" ngModel id="lname" placeholder="Last NAME">
        <input type="email" class="form-control" name="email" ngModel id="email" placeholder="email" required>
        <input type="text" class="form-control" name="avatar" ngModel id="avatar" placeholder="avatar">
        <button type="submit" id="adds" class="btn btn-primary" [disabled]="!userForm.valid">ADD User</button>

    </form>
</div>