<app-container></app-container>

<div class="container mt-3 py-5">
    <h4 class="display-3">Table List </h4>
    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label for="inputPassword6" class="col-form-label">Search Name</label>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" name="name" [(ngModel)]="name" (ngModelChange)="Search()" placeholder="Search here">
        </div>
        <div class="col-auto">
            <span id="passwordHelpInline" class="form-text">
                Must be 8-20
            </span>
        </div>
    </div>
    
</div>

<div class="container mt-3 border"><br>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th (click)="sort('id')" scope="col">id<i class="fa fa-sort" aria-hidden="true"></i></th>
                <th scope="col">Name</th>
                <th scope="col">Year</th>
                <th scope="col">Color</th>
                <th scope="col">Pantone_value</th>
            </tr>
        </thead>
        <tbody>
            <tr
            *ngFor="let user of users | orderBy: key: reverse | paginate : {itemsPerPage:5, currentPage:p};">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.year}}</td>
                <td>{{user.color}}</td>
                <td>{{user.pantone_value}}</td>
            </tr>
        </tbody>
        <tfoot>
            <!-- Table footer -->
        </tfoot>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

<app-footer></app-footer>